@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


li.contact_us{
    margin-left: 50px;
}

li.home{
    color: #5C8692;
}

.container_beauty{
    max-width: 1440;
    display: flex;
    justify-content: space-between;
    margin: 20px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    line-height: 3.5;
}

.header_logo{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.logo_beauty{
    width: 192px;
    height: 35px;
    margin-top: 5px;
}

.logo_call{
    width: 24px;
    height: 25px;
    margin-top: 13px;
}

.header_text{
    font-family: 'Manrope',sans-serif;
    font-size: 16px;
}

.nav_nav{
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 38px;
    font-family: 'Manrope', sans-serif;
    font-size: 17px;
    line-height: 3.5;
}

.soc_seti{
    width: 95px;
    height: 29px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
  
}

.nav_bt{
    display:flex;
    justify-content:center;
    align-items:center;
    font-size: 14px;
    border: none;
    gap:10px;
    width: 190px;
    height: 59px;
    background-color:#5C8692;
    color:#FFFFFF;
}

.hiro{
    background-color: #EBF3F5;
    height: 885px;
}

.container_hiro{
    display: flex;
    justify-content: space-between;
    
}

.wrap_desc{
    margin-left: 120px;
}

.wrap_logo_text{
    font-family: 'Manrope', sans-serif;
    font-size: 15px;
    display: flex;
    gap: 5px;
    color: #5C8692;
    margin-bottom: 5px;
    padding-top: 219px;
}

.wrap_title{
    font-family:'Playfair Display',sans-serif;
    font-size: 55px;
}

.wrap_text{
   font-family: 'Manrope', sans-serif;
   font-size: 19px;
   line-height: 2;
   margin-top: 20px;
}

.bt_wrap{
    border: 1px solid #5C8692;
    width: 238px;
    height: 57px;
    margin-top: 26px;
    background-color: #5C8692;
    color: #FFFFFF;
    margin-bottom: 229px;
}

.box{
    width: 592px;
    height: 645px;
    border: 10px solid #5C8692;
    margin: 120px;
    position: relative;
}

.wrap_foto{
    position: absolute;
    top: 249px;
    right: 174px;
}

.container_scrool{
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    margin: 100px 150px 100px 150px;
   
}

.item_item{
    margin-bottom: 16px;
}

.item_title{
    font-family: 'Playfair Display',sans-serif;
    font-size: 26px;
    margin-bottom: 13px;
}

.item_text{
    font-family: 'Manrope', sans-serif;
    font-size: 18px;
    line-height: 2;
    margin-bottom: 17px;
}

.item_bt{
    width: 157px;
    height: 57px;
    border-color: #5C8692;
    background-color: white;
    margin-bottom: 110px;
}

.take_your_care{
    background-color:#EBF3F5;
}

.container_take_your_care{
    max-width: 1440px;
    height: 836px;
    margin: 0 120px ;
    padding: 139px 0px 120px;
    position: relative;
}

.items_care_description{
    max-width: 1200px;
   
}

.item_care{
    font-family: 'Manrope', sans-serif;
    font-size: 15px;
    margin-bottom: 4px;
    color: #5C8692;
}

.item_care_title{
    font-family: 'Playfair Display',sans-serif;
    font-size: 45px;
    line-height: 1.2;
    margin-bottom: 14px;
}

.item_care_text{
    font-family: 'Manrope', sans-serif;
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 59px;
   
}

.box_items{
    display: flex;
    gap: 12px;
}

.box_item{
    width:188px ;
    height: 185px;
    border: 1px solid black;
    text-align: center;
}

.item_icon{
    margin-top: 20px;
}

.item_desc{
    font-family: 'Playfair Display',sans-serif;
    font-size: 22px;
    margin-top: 12px;
    line-height: 1.2;
}

.fon_foto{
    position: absolute;
    top: 116px;
    right: 12px;
    margin-left: 77px;
}

.fon_img{
    width: 500px;
    height: 576px;
}

.kvadrat{
   position: absolute;
   top: 83px;
   right: -29px;
}


.container-price{
    max-width: 1200px;
    margin: 0 120px;
    position: relative;
}


.header_title{
    text-align: center;
    margin-bottom: 10px;
}

.header_title_h3{
    font-family: 'Manrope',sans-serif;
    font-size: 15px;
    color: #5C8692;
    margin-top: 99px;
}

.header_title_h2{
    font-family:'Playfair Display',sans-serif;
    font-size: 45px;
    margin-top:4px ;
}

.items_price1{
    display: flex;
    margin-top: 70px;
}

.price1_foto{
    width: 600px;
    height: 650px;
}

.price1_desc{
    margin:50px;
    margin-left: 55px;
    width: 540px;
    height: 457px;
}

.wrap_price1,.wrap_price2{
    display: flex;
    justify-content: space-between;
    border-bottom: 3px solid #141414;
    margin-bottom: 7px;
}

.price1_wrap_h3,.price2_wrap_h3{
    font-family: 'Playfair Display', sans-serif;
    font-size: 22px; 
}

.price1_form_cena,.price2_form_cena{
    display: flex;
    gap: 5px;
}

.price1_wrap-form,.price2_wrap-form{
    font-family:'Manrope', sans-serif;
    font-size: 18px;
    line-height: 27px;
}

.price1_wrap-cena,.price2_wrap-cena{
    font-family: 'Playfair Display', sans-serif;
    font-size: 21px;  
}

.price1_wrap-text,.price2_wrap-text{
    font-family: 'Manrope', sans-serif;
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 16px;
    border-bottom: 1px solid #134134;
    padding-bottom: 16px;
}

.price1_btn{
    width: 248px;
    height: 57px;
    font-family: 'Manrope', sans-serif;
    font-size: 13px;
    border-color: #5C8692;
    background-color: white;
    margin-top: 22px;
    margin-bottom: 53px;
}

.box_item_price1{
    position: absolute;
    top: 777px;
    left: 581px;
}

.items_price2{
    display: flex;
    justify-content: space-between;
}



.price2_desk{
    width: 495px;
    height: 457px;
    margin: 140px 60px 0 0;
}

.price2_foto{
    position: absolute;
    right: 36px;
    width: 600px;
    margin-bottom: 120px;
}

.box_item_price2{
    position: absolute;
    top: 864px;
    left: 492px;
}

.price2_btn{
    width: 248px;
    height: 57px;
    font-family: 'Manrope', sans-serif;
    font-size: 13px;
    border-color: #5C8692;
    background-color: white;
    margin-bottom: 36px;
}

.reviews{
    
    background-color:#EBF3F5 ;
    margin-top: 120px;
}

.container_reviews{
    max-width: 1200px;
    margin: 0 auto;
    
}

.reviews_title{
    text-align: center;
    padding-top: 99px;
    line-height: 1.5;
}

.reviwes_title-h3{
    font-family:'Manrope', sans-serif;
    font-size: 15px;
    color:#5C8692;
    text-transform: uppercase;
}

.reviwes_title-h2{
    font-family:'Playfair Display' , sans-serif;
    font-size: 45px;
    margin-bottom: 40px;
}

.wrap_rev{
    display: flex;
    gap: 20px;
    padding-bottom: 130px ;
}

.reviwes_box{
    width: 600px;
    background-color:#FFFFFF ;
}

.reviwes_text{
    font-family:'Manrope' , sans-serif;
    font-size: 19px; 
    line-height:1.5 ;
    padding: 33px 47px 25px 30px;
}

.customer_reviwes{
    display: flex;
    gap: 20px;
    width: 600px;
    background-color: #1E2C30;
    padding:  21px 0px 22px 30px;
}

.customer_foto{
    width: 70px;
    height: 70px;
}

.customer_items{
    line-height: 1.5;
}



.customer_h3{
    font-family: 'Playfair Display' , sans-serif;
    font-size: 20px;
    color: #FFFFFF;
}

.customer_text{
    font-family:'Manrope', sans-serif;
    font-size: 14px;
    color: #FFFFFF;
}

.noz{
    padding-left: 226px;
    height: 56px;
    margin-top: 5px;
}



.container_advantage{
    max-width: 1200px;
    height: 623px;
    margin: 0 auto;
    margin-bottom: 110px;
}

.advantage_title{
    text-align: center;
    margin-top: 99px;
    margin-bottom: 70px;
}

.advantage_tialeh3{
    font-family:'Manrope',sans-serif;
    font-size: 15px;
    Line-height:22px;
    color: #5C8692;
    margin-bottom: 4px;
}

.advantage_titleh2{
    font-family: 'Playfair Display' , sans-serif;
    font-size: 45px;
    line-height: 58px;
    color: #141414;
}

.wrap_advantage{
    display: grid;
    gap: 50px;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(3,1fr);
    margin-bottom: 110px;

    
}

.advantage_box{
    width: 373px;
    height: 209px;
}

.advantage_boxh3{
    font-family: 'Playfair Display' , sans-serif;
    font-size: 26px;
    color: #141414;
    margin-top: 14px;
}

.advantage_text{
    font-family: 'Manrope', sans-serif;
    font-size: 18px;
    line-height: 27px;
    color: #555555;
    margin-top: 11px;
}

.sale-form{
    background-color: #EBF3F5;
}

.wrapper{
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    gap: 70px;
}

.items_desk{
    margin-top: 205px;
    margin-bottom: 205px;
}

.deskh3{
    font-family: 'Manrope', sans-serif;
    font-size: 15px;
    line-height: 22px;
    color: #5C8692;
    margin-bottom: 3px;
}

.deskh2{
    font-family: 'Playfair Display', sans-serif;
    font-size: 45px;
    line-height: 58px;
    margin-bottom: 18px;
}

.desk_text{
    font-family: 'Manrope',sans-serif;
    font-size: 18px;
    color:#555555;
    margin-bottom: 16px;
}

.box_desk{
    display: flex;
    padding: 33px 32px 0px;
    background-color: #FFFFFF;
    border: 1px solid ;
    width: 302px;
    height: 173px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));;
    
}

.sale,.sale_2{
    display: flex;
    gap: 20px;
}

.sale{
    margin-bottom: 15px;
}

.sale_2{
    padding-bottom: 38px;
}
 
.tocki{
    width: 30px;
    height: 6px;
    margin-top: 17px;
}

.desk_p{
    font-family: 'Manrope', sans-serif;
    font-size: 15px;
    color: #141414;
}


.box_sale{
    width: 194px;
    height: 173px;
    background-color: #1E2C30;
    text-align: center;
    position: absolute;
    top: 489px;
    right: 705px;
}

.saleh3{
    font-family: 'Manrope', sans-serif;
    font-size: 15px;
    line-height: 22px;
    padding-top: 22px;
    margin-bottom: 2px;
}

.saleh2{
    font-family: 'Manrope', sans-serif;
    font-size: 65px;
    line-height: 78px;
    margin-bottom: 5px;
}

.sale_p{
    font-family: 'Manrope', sans-serif;
    font-size: 18px;
    line-height: 27px;
    padding-bottom: 24px;
}

.saleh3,.saleh2,.sale_p{
    color: #FFFFFF;
}


form{
    width: 550px;
    display:block;
    background-color: #FFFFFF;
    padding: 69px 50px 65px ;
    margin-top: 110px;
    margin-bottom: 110px;
    filter:  drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));;
    
}




.input_wrapper{
    display: block;
    width: 455px;
    height: 65px;
    border-color: #5C8692;
    margin-bottom: 19px;
    position: relative;
}

.input_1{
    width: 455px;
    height: 65px;
    border-color: #5C8692;
    text-align: center;
}

.chel::before{
    content: '';
    background-image: url(assets/icon/chel.svg);
    width: 41px;
    height: 47px;
    position: absolute;
    top: 0;
    left: 0;
}

.sms::before{
    content: '';
    background-image: url(assets/icon/sms.svg);
    width: 41px;
    height: 47px;
    position: absolute;
    top: 0;
    left: 0;
}

.tel::before{
    content: '';
    background-image: url(assets/icon/tel.svg);
    width: 41px;
    height: 47px;
    position: absolute;
    top: 0;
    left: 0;
}

.book::before{
    content: '';
    background-image: url(assets/icon/book.svg);
    width: 41px;
    height: 47px;
    position: absolute;
    top: 0;
    left: 0;
}

.text{
    position: relative;
    margin-bottom: 19px;
}

textarea{
    width: 455px;
    height: 130px;
    border-color: #5C8692;
}

.pcev::before{
    content: '';
    background-image: url(assets/icon/texrarea.svg);
    width: 40px;
    height: 46px;
    position: absolute;
    top: 0;
    left: 0;
}


.form{
    width: 455px;
    height: 65px;
    background-color: #5C8692;
    border:2px solid #5C8692;
 }





 .container_updates{
    max-width: 1200px;
    margin: 0 auto;
 }

 .updates_title{
    text-align: center;
    margin-bottom: 66px;
 }

 .updates_h3{
    font-family:'Manrope',sans-serif;
    font-size: 15px;
    line-height: 22px;
    color: #5C8692;
    margin-top: 102px;
 }

.updates_h2{
    font-family:'Playfair Display';
    font-size: 45px;
    line-height: 58px;
    margin-bottom: 7px;
}

.updates_wrapper{
    display: flex;
    gap: 18px;
    margin-bottom: 13px;
}

.box_wrapper{
    width: 387px;
    background-color: #EBF3F5;
}

.update_img{
    width: 387px;
    height: 342px;
    margin-bottom: 29px;
}

.updates_items{
    display: flex;
    justify-content:space-around;
    gap: 3px;
    margin-bottom: 10px;
    position: relative;
}

.updates_item{
    font-family: 'Manrope',sans-serif;
    font-size: 13px;
    line-height: 19px;
    color: #5C8692;
    position: relative;
   
}

.updates_item.before::before{
    content: '';
    width: 30px;
    height: 4px;
    background-color: #141414;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 136%;

}

.updates_desc{
    display: grid;
    justify-content: center;
}

.updates_itemh2{
    font-family: 'Playfair Display', sans-serif;
    font-size: 22px;
    line-height: 30px;
    color: #141414;
    margin-bottom: 14px;
}

.updates_text{
    font-family:'Manrope', sans-serif;
    font-size: 18px;
    line-height: 27px;
    color: #555555;
    margin-bottom: 34px;
}

.updates_btn{
    margin: 0 auto;
    text-align: center;
    width: 230px;
    border: 1px solid #5C8692;
    font-family: 'Manrope', sans-serif;
    font-size: 13px;
    line-height: 19px;
    color: #141414;
    padding: 18px 32px 19px;
    margin-bottom: 110px;
}

.footer{
    background-color: #1E2C30;
}

.container_footer{
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 50px;
}

.footer_image{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    padding: 69px 0px 35px;
}

.footer-icons{
    display: flex;
    gap: 10px;
}

.footer-icon{
    width: 55px;
    height: 55px;
}

.footer-wrapper{
    display: flex;
    justify-content: space-between;
    gap: 16px;
    margin-top: 41px;
}

.footer-title{
    font-family: 'Playfair Display',sans-serif;
    font-size: 22px;
    line-height: 30px;
    color: #FFFFFF;
    padding: 19px 0px 14px;

}

.footer-item{
    list-style: none;
    line-height: 28px;
    font-family: 'Manrope',sans-serif;
    font-size: 17px;
    color: #FFFFFF;
    padding-bottom: 9px;
    
}

.wrapper-wrapper{
    display: flex;
}

.footer-item.text{
    padding-left: 32px;
}

.footer-item.text_mail{
    padding-left: 65px;
}

.footer-item.text_tel{
    padding-left: 46px;
}

.podv{
    background-color: #111E22;
}

.container-podv{
    max-width: 1200px;
    margin: 0 auto;
    font-family: 'Manrope',sans-serif;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    padding: 19px 0px 20px;
}